<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="trupanion.mascots" type="Trupanion.Mascots.Configuration.TrupanionMascotsSection, Trupanion.Mascots.Configuration" requirePermission="false" />
  </configSections>
  <trupanion.mascots>
    <mascots>
      <mascot teamName="Arizona Cardinals" mascot="Big Red" />
      <mascot teamName="Atlanta Falcons" mascot="Freddie Falcon" />
      <mascot teamName="Carolina Panthers" mascot="Sir Purr" />
      <mascot teamName="Chicago Bears" mascot="Staley Da Bear" />
      <mascot teamName="Dallas Cowboys" mascot="Rowdy" />
      <mascot teamName="Detroit Lions" mascot="Roary" />
      <mascot teamName="Green Bay Packers" mascot="None" />
      <mascot teamName="Minnesota Vikings" mascot="Ragnar, Viktor" />
      <mascot teamName="New Orleans Saints" mascot="Gumbo, Sir Saint" />
      <mascot teamName="New York Giants" mascot="None" />
      <mascot teamName="Philadelphia Eagles" mascot="Swoop, Air Swoop" />
      <mascot teamName="St. Louis Rams" mascot="Rampage" />
      <mascot teamName="San Francisco 49ers" mascot="Sourdough Sam" />
      <mascot teamName="Seattle Seahawks" mascot="Blitz; Boom; Taima" />
      <mascot teamName="Tampa Bay Buccaneers" mascot="Captain Fear" />
      <mascot teamName="Washington Redskins" mascot="None" />
    </mascots>
  </trupanion.mascots>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
