<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="trupanion.mascots" type="Trupanion.Mascots.Configuration.TrupanionMascotsSection, Trupanion.Mascots.Configuration" requirePermission="false" />
  </configSections>
  <trupanion.mascots>
    <mascots>
      <mascot teamName="t1" mascot="m1" />
      <mascot teamName="t2" mascot="m2" />
      <mascot teamName="t3" mascot="m3" />
      <mascot teamName="t4" mascot="m4" />
      <mascot teamName="t5" mascot="m5" />
    </mascots>
  </trupanion.mascots>
</configuration>